.firstSection {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  width: 500px;
}

.firstItems {
  align-items: end;
  display: flex;
  justify-content: center;
  padding: 0px 20px;
  text-align: start;
}

.legends {
  display: flex;
  gap: 10px;
  width: 100%;
}

.legendP {
  color: #FFFFFF;
  font-family: 'Mina';
  font-size: 0.9rem;
  letter-spacing: 1px;
  margin-bottom: 10px;
  width: 200px;
}

.liveStreamTitle {
  color: #FFFFFF;
  font-family: 'Mina';
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1.5px;
  line-height: 100%;
  text-align: center;
}

.matchTitle {
  background: none;
  color: #E1B833;
  font-family: 'Metamorphous';
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 15%;
  line-height: 100%;
  text-align: center;
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
}

.matchesMainDiv {
  background: linear-gradient(90deg, #2D2D2D 0%, #3F3F3F 100%);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 700px;
  padding: 20px 0px;
  scrollbar-width: thin;
  overflow-y: auto;
  width: 650px;
}

.matchDiv {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
}

.matchContent {
  align-items: center;
  display: flex;
  height: 170px;
  width: 100%;
}

.matchNameDiv {
  border-top: 1px solid #282828;
  display: flex;
  padding-left: 10px;
  width: 100%;
}

.matchName {
  color: #FFFFFF;
  font-family: 'Mina';
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 100%;
  margin-left: 14px;
  padding-top: 10px;
  text-align: center;
}

.matchStatusInfoDiv {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 7px;
  height: 100%;
  justify-content: center;
  padding-left: 5px;
  width: 15%;
}

.matchStatus {
  border-radius: 2px;
  border-width: 1px;
  color: #FFFFFF;
  display: flex;
  font-family: 'Mina';
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 15%;
  line-height: 100%;
  padding: 5px 5px 1px 5px;
  text-align: center;
}

.matchStatus.running {
  background-color: #8C0507;
}

.matchStatus.finished {
  background-color: #4C4B4B;
}

.matchI {
  color: #FFFFFF;
  font-family: 'Mina';
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 15%;
  line-height: 100%;
  text-align: center;
}

.matchInfoDiv {
  display: flex;
  gap: 30px;
  height: 100%;
  justify-content: center;
  text-align: center;
  margin-right: 30px;
  width: 540px;
}

.dateTeamsDiv {
  align-items: center;
  display: flex;
  gap: 15px;
  justify-content: center;
  text-align: center;
}

.line {
  background-color: #282828;
  border-width: 1px;
  height: 100%;
  margin-left: 15px;
  margin-right: -10px;
  width: 1px;
}

.teamsResultsDiv {
  align-items: center;
  display: flex;
  gap: 10px;
  justify-content: center;
  width: 350px;
}

.teamLogoNameDiv {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  text-align: center;
  width: 110px;
}

.teamName {
  color: #FFFFFF;
  font-family: 'Mina';
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 100%;
  text-align: center;
  width: 80px;
}

.teamLogo {
  height: 30px;
  width: 30px;
}

.pointsResult {
  font-family: 'Mina';
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 15%;
  line-height: 100%;
  text-align: center;
}

.matchTotal {
  color: #FFFFFF;
  font-family: 'Mina';
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 15%;
  line-height: 100%;
  text-align: center
}

.timeDiv {
  display: flex;
}

.dateTimeDiv {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 10%;
}

.dateSpan {
  color: #FFFFFF;
  font-family: 'Mina';
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 15%;
  line-height: 100%;
  text-align: center;
}

.timeSpan {
  color: #FFFFFF;
  font-family: 'Mina';
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 15%;
  line-height: 100%;
  text-align: center;
  white-space: pre-line;
}

.liveStreamsDiv{
  align-items: start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  text-align: center;
  width: 130px;
}

.liveStreams {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: end;
}

.liveStreamTag {
  align-items: center;
  color: #FFFFFF;
  display: flex;
  font-family: 'Mina';
  font-size: 1rem;
  font-weight: 400;
  gap: 8px;
  justify-content: start;
  text-decoration: none;
  letter-spacing: 15%;
  line-height: 100%;
  text-align: center;
  width: 100px;
}

.liveStreamTag img {
  height: 20px; 
  width: 20px;
}

@media (max-width: 1360px) {
  .firstSection {
    height: 99%;
    margin-left: 25px;
  }
  .legends {
    margin-top: -10px;
    margin-left: -10px;
    gap: 10px;
  }
  .legendP {
    font-size: 0.6rem;
    letter-spacing: 0.5px;
    margin-bottom: 5px;
    width: 150px;
  }
  .liveStreamTitle {
    font-size: 0.7rem;
    letter-spacing: 1px;
  }
  .matchTitle {
    font-size: 36px;
    letter-spacing: 2px;
  }
  .matchesMainDiv {
    gap: 5px;
    max-height: 600px;
    scrollbar-width: none;
    width: 100%;
  }
  .matchContent {
    height: 70px;
  }
  .matchName {
    font-size: 0.7rem;
    margin: 0;
  }
  .matchStatusInfoDiv {
    gap: 5px;
    width: 50px;
  }
  .matchStatus {
    font-size: 0.7rem;
    letter-spacing: 0.7px;
    padding: 4px 6px;
  }
  .matchI {
    font-size: 0.7rem;
    letter-spacing: 0.7px;
  }
  .matchInfoDiv {
    gap: 15px;
    margin: 0;
    width: 400px;
  }
  .dateSpan,
  .timeSpan {
    font-size: 0.55rem;
    letter-spacing: 0.6px;
  }
  
  .pointsResult,
  .matchTotal {
    font-size: 0.6rem;
    letter-spacing: 0.6px;
    width: 40px;
  }
  .teamsResultsDiv {
    gap: 5px;
    width: 240px;
  }
  .teamLogoNameDiv {
    gap: 5px;
    width: 80px;
  }
  .teamName {
    font-size: 0.65rem;
    letter-spacing: 0.6px;
    width: 100%;
  }
  .teamLogo {
    height: 20px;
    width: 20px;
  }
  .pointsResult {
    font-size: 0.7rem;
    letter-spacing: 15%;
  }
  .matchTotal {
    font-size: 0.7rem;
    letter-spacing: 0.7px;
  }

  .dateTimeDiv {
    width: 5%;
  }

  .liveStreamsDiv{
    gap: 5px;
    width: 800px;
  }
  .liveStreamTag {
    font-size: 0.7rem;
    gap: 4px;
    letter-spacing: 0.7px;
    width: 100px;
  }
  .liveStreamTag img {
    height: 15px;
    width: 15px;
  }
}