.chatBotMainSection {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 99%;
  margin-left: 50px;
  margin-right: -50px;
  width: 37em;
}

.chatsDiv {
  align-items: center;
  border: 3px solid #E1B833;
  border-radius: 20px;
  box-shadow: 0px 0px 8px 0px #E1B8332B;
  background: #252424;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
  max-height: 640px;
  overflow: hidden;
  width: 95%;
}

.chatTitleDiv {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-left: 40px;
  width: 100%;
}

.chatBotTitle {
  color: #E1B833;
  font-family: 'Metamorphous';
  font-size: 3.5rem;
  font-weight: 400;
  letter-spacing: 15%;
  line-height: 100%;
  text-align: center;
  text-shadow: 0px 4px 4px 0px #00000073;
  width: 600px;
}

.furiaLogo {
  height: 10em;
  width: 10em;
}

.paragraphsDiv {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  scroll-behavior: smooth;
  scrollbar-width: none;
  scrollbar-color: #dad7d7 #F4F4F4;
  overflow-y: auto;
  width: 100%;
  height: auto;  
}

.botParagraphDiv {
  align-self: flex-start;
  background: linear-gradient(180deg, #373638 0%, #302E2E 100%);
  border-bottom-right-radius: 25px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  height: auto;
  padding: 20px;
  text-align: start;
  width: 340px;
}

.botParagraph {
  color: #D2D2D2;
  font-family: 'Neuton';
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 1px;
}

.userParagraphDiv {
  align-self: flex-end;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  background: linear-gradient(180deg, #373638 0%, #302E2E 100%);
  height: auto;
  padding: 20px;
  text-align: start;
  width: 340px;
}

.userParagraph {
  color: #D2D2D2;
  font-family: 'Neuton';
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 1px;
}

.typingDots {
  height: 35px;
  width: 55px;
}

form {
  align-items: center;
  border: 2px solid #E1B833;
  border-radius: 30px;
  border-width: 2px;
  display: flex;
  height: 69px;
  margin: 5px 15px 5px 15px;
  padding-right: 2px;
  width: 98%;
}

.inputForm {
  color: #D2D2D2;
  background: none;
  border: none;
  border-radius: 30px;
  border-width: 2px;
  font-size: 16px;
  height: 100%;
  outline: none;
  padding-left: 15px;
  width: 100%;
}

.formButton {
  background: none;
  background-image: url('/src/assets/enterArrow.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  height: 68px;
  width: 68px;
}

#dotsDiv {
  width: 100px;
  margin-left: 20px;
  margin-bottom: 10px;
}

@media (max-width: 1360px) {
  #dotsDiv {
    width: 80px;
  }
  .typingDots {
    height: 25px;
    width: 45px;
  }
  .chatBotMainSection {
    margin-left: -70px;
    margin-right: -90px;
    width: 35em;
  }
  .chatsDiv {
    max-height: 540px;
    width: 92%;
  }
  .chatTitleDiv {
    margin-left: 20px;
  }
  .chatBotTitle {
    font-size: 2.8rem;
    letter-spacing: 10%;
    width: 90%;
  }
  .furiaLogo {
    height: 8em;
    width: 8em;
  }
  .botParagraphDiv, .userParagraphDiv {
    padding: 16px;
    width: 300px;
  }
  .botParagraph, .userParagraph {
    font-size: 15px;
    line-height: 110%;
  }
  form {
    height: 60px;
    width: 96%;
  }
  .inputForm {
    font-size: 15px;
  }
  .formButton {
    height: 58px;
    width: 58px;
  }
}